html {
  background-color: beige;
  margin: auto;
  width: auto;
}

h1 {
  color: Blue;
  text-align: center;
  font-size: 48px;
  font-family: fantasy;
}

.Marcador {
  margin-right: 50%;
  text-align: center;
  margin: 20px;
  border: 2px solid black;
  border-radius:10px;
  width: 20%;
  height: 30%;
  position: relative;
  left: 39%;
}
.win{
  height: 100px;
  width: 100px;
  font-size: 20px;
  margin-right: 30px;
}
.veces {
  height: 100px;
  width: 100px;
  font-size: 20px;
  margin-left: 30px;
}

section {
  position: relative;
  top: 100%;
  left: 30%;
  height: 652px;
  width: 652px;
  border: 2px solid black;
}

li.button {
  vertical-align: top;
  margin-top: 1px;
  margin-left: 1px;
  display: inline-block;
  height: 212px;
  width: 212px;
  border: 2px solid blue;
  font-size: 48px;
  text-align: center;
}

#NuevoJuego {
  border: 2px solid black;
  border-radius:30px;
  height: 100px;
  width: 100px;
  font-size: 24px;
  cursor: pointer;
  position: relative;
  top: 100%;
  left: 48%;
}
ul{
  font-size: 0;
}
