html {
  background-color: white;
  margin: auto;
  width: auto;
}

h1 {
  color: Navy;
  text-align: center;
  font-size: 56px;
  font-family: fantasy;
}

.Marcador {
  margin-right: 50%;
  text-align: center;
  margin: 20px;
  border: 2px solid black;
  border-radius:10px;
  width: 20%;
  height: 30%;
  position: relative;
  left: 39%;
}
.win{
  height: 100px;
  width: 100px;
  font-size: 20px;
  margin-right: 30px;
}
.veces {
  height: 100px;
  width: 100px;
  font-size: 20px;
  margin-left: 30px;
}

#info {
  margin-left: 10px;
  border: 2px solid black;
  width: 20%;
  height: 80%;
  display: inline-block;
}

#rules {
  color: BurlyWood;
  text-align: center;
  font-size: 24px;
  font-style: oblique;
  font-family: cursive, arial;
  margin-bottom: 5px;
}

ol {
  list-style-type: disc;
  margin-bottom: 10px;
}

.reglas {
  margin: 10px 5px 0 20px;
  text-align: justify;
}

#lista {
  float: left;
  height: 652px;
  width: 652px;
  border: 2px solid orange;
  margin-left: 240px;
}

.button {
  vertical-align: top;
  margin-top: 1px;
  margin-left: 1px;
  display: inline-block;
  height: 212px;
  width: 212px;
  border: 2px solid DarkSlateGrey;
  font-size: 48px;
  text-align: center;
  position: relative;
  background-color: lightgrey;
}

.circulo {
  position: absolute;
  top: 10%;
  left: 15%;
  color: blue;
  font-size: 200px;
  font-family: cursive;;
}

.equis {
  position: absolute;
  top: 10%;
  left: 15%;
  font-size: 200px;
  color: red;
  font-family: cursive;
}

#NuevoJuego {
  border: 2px solid black;
  border-radius:30px;
  height: 100px;
  width: 200px;
  font-size: 24px;
  cursor: pointer;
  float: left;
  margin-left: 300px;
  margin-top: 20px;
  clear: left;

}

#Nuevo {
  border: 2px solid black;
  border-radius:30px;
  height: 100px;
  width: 200px;
  font-size: 24px;
  cursor: pointer;
  float: left;
  margin-left: 100px;
  margin-top: 20px;
}

ul{
  font-size: 0;
}
